<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>				
				<configuration name="Gymster.Project.Templates">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\templates" 
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" 
									 singleInstance="true"/>
					<predicate>												
						<include name="GymsterTemplates" database="master" path="/sitecore/templates/Gymster" />						
					</predicate>					
				</configuration>
				<configuration name="Gymster.Project.Presentation">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\presentation"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Gymster" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Gymster" />						
					</predicate>
				</configuration>
				<configuration name="Gymster.Project.CoreDB">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\coredatabase"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="FieldEditorButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Gymster" />						
					</predicate>
				</configuration>
				<configuration name="Gymster.Project.Media">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\media"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="GymsterMedia" database="master" path="/sitecore/media library/Gymster" />
					</predicate>
				</configuration>
				<configuration name="Gymster.Project.Content">
					<targetDataStore physicalRootPath="$(sourceFolder)\serialization\content"
									 useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
									 singleInstance="true"/>
					<predicate>
						<include name="GymsterContent" database="master" path="/sitecore/content/Gymster" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
